/* Make the forms inline to tighten things up */
fieldset#edit-background .form-item label {
	display: inline;
}

/* Don't make the background inline, it widens the page */
fieldset#edit-background #edit-background-upload-wrapper label {
  display: block;
}

/* Shrink the background color field */
fieldset#edit-background #edit-background-color-wrapper input {
  width: 50px;
}